
<div class="row">
  <div class="col-lg-4" >
    <img src="https://tranquil-caverns-90558.herokuapp.com/A34ML" alt="" style="width: 300px;">
  </div>
  <div calss="col-lg-8">
    <div>{{user.name}}</div>
    <div>{{user.email}}</div>
    <a href='/users/{{user.id}}/edit'>
      <button type="button" class="btn btn-info">編輯</button>
    </a>
  </div>
</div>
